extends layout.pug
block content
            h1 About Us
            h2 GitHub Links
                ul
                    a(href="github-links") Tommy Forde
                ul
                    a(href="github-links") Cameron Abbot
                ul
                    a(href="github-links") Jacob Nicotra
                ul
                    a(href="github-links") Wid Alceus
            h3
                a(href="github-links") Project Github Link
