extends layout

append head
  script(src="/javascripts/questionVotes.js")
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .questions-container
    div.about-div
      include about
    ul.index-questions
      li(class="about-media question-card")
        include about
      each question in questions
        li
         include question-card
    .pages-links
      p Pages
      each page in pageLinks
        p: a(href=`/${page}`)=page
