extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .about-div
      h2 ABOUT
      p This is a site ask questions and discuss any of your favorite collectible items!
  .questions-container
    ul
      each question in questions
        li
            include question-card
    .pages-links
      p Pages
      each page in pageLinks
        p: a(href=`/${page}`)=page
