doctype html
html
  head
      block head
        title="Knackerflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/validation.css')
  body
    ul(id='navBar')
      ul(class="navLeft")
        li
          a(href="/" class="navLink navTitle") Knick Knack Overflow
        li
          form(action="/questions/search" method="post")
            input(type="text" name="searchTerm" id="searchForm")
      if locals.authenticated
        ul(class="navRight")
          li
            a(href=`/users/${user.id}` class="navLink") Profile
          li
            a(href="/questions/new" class="navLink") Ask a question!
          li
            form(action='/users/logout' method='post')
              button(class="navLink logout-btn") Logout
      else
        ul(class="navRight")
          li
            a(href="/users/login" class="navLink login-btn") Log in
          li
            a(href="/users/register" class="navLink register-btn") Register
    block content
