doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    ul(id='navBar')
      li
        a(href="/" class="navLink") Home
      if locals.authenticated
        ul(class="navRight")
          li
            a(href="/users/logout" class="navLink") Log Out
          li  
            a(href="/users/:id" class="navLink") Profile
      else

        ul(class="navRight")
          li
            a(href="/users/login" class="navLink") Log In
          li
            a(href="/users/signup" class="navLink") Sign Up
    block content
