doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    ul
      li
        a(href="/") phone home
      li
        a(href="/users/login") login
      li
        a(href="/users/register") Register
    block content
