doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    ul(id='navBar')
      li
        a(href="/" class="navLink") Home
      if locals.authenticated
        ul(class="navRight")
          li
            form(action='/users/logout' method='post')
              button(class="navLink") Logout
          li  
            a(href="/users/:id" class="navLink") Register
      else

        ul(class="navRight")
          li
            a(href="/users/login" class="navLink") Log in
          li
            a(href="/users/register" class="navLink") Sign up
    block content
