extends layout.pug
include utils.pug
block content
  +validationErrorSummary(errors)
  div.add_question_body
    h2 Ask a question!
    form(action="/questions/new" method="post")
      input(type="hidden", name="_csrf" value=csrfToken)
      +field("Title", "title", question.title, "title")
      label(for="content") Body
      textarea(name="content" value=question.content id="editor")
      button(type="submit") Post Question

      script(src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js")
      script(src="/javascripts/formEditor.js")
      link(rel="stylesheet" href="/stylesheets/custom.css" type="text/css")
