extends layout.pug
include utils.pug
block content
  div.add_question_body
    h2 Ask a question!
    form(action="/questions/new" method="post")
      +validationErrorSummary(errors)
      input(type="hidden", name="_csrf" value=csrfToken)
      div.form-group
        label(for="title" id="title_label") Title
        input(name="title" id="title_input" value=question.title)
      div.form-group
        label(for="content" id="content_label") Body
        textarea(name="content" value=question.content id="editor")
      button(type="submit" id="submit_button") Post Question

