extends layout.pug
include utils.pug
block content
  include question-card
  if answers
    div(class=answers)
      each answer in answers
        p(class=`answer-${answer.id}`)
          include answer-card
        script(src="/javascripts/votes.js")
  div(class=write_answer)
      form(action=`/api/answers/${question.id}`, method="post")
        +field("", "_csrf", csrfToken, "hidden")
        textarea(class="answerContents" name="answerContents")
        button post answer
