extends layout.pug
include utils.pug
block content
    +validationErrorSummary(errors)
    div(class="login-div")
        form(action="/users/login" method="post" id="login-container")
            +field("", "_csrf", csrfToken, "hidden")
            +field("Email Address", "email", email)
            +field("Password", "password")
            div(class="form-group")
                button(class="login-page-btn") les go mate
