body {
  display: flex;
  justify-content: center;
}

.add_question_body {
  width: 60%;
  background-color: #3b4252; /* will change when styling officialized */
  color: #D8DEE9;
  border-radius: 5px;
  padding: 25px;
  margin: 100px 30px 100px 30px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.15);
  height: fit-content;
}

.add_question_body form {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-basis: auto;
}

.add_question_body #title_input {
  width: 100%;
  height: 2rem;
  font-size: 1.4rem;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px;
  background-color: #D8DEE9;
}

.add_question_body #submit_button {
  background-color: #bf616a;
  color: #D8DEE9;
  padding: 0.5rem;
  border: 1px #3b4252 solid;
  border-radius: 5px;
  margin-top: 10px; 
}

.add_question_body .form-group {
  margin-top: 8px;
}

#editor {
  display: block;
  width: 100%; 
  height: 10rem;
  border: #3b4252 solid 1px;
  border-radius: 4px;
  background-color: #D8DEE9;
  font-size: 16px;
}

.voted{
  color:#d08770;
  border: 3px solid #d08770;
}
