body {
  background-color: #2e3440;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 5rem;

  height: 100%;
}
html {
  height: 100%;
}

a {
  color: #88c0d0;
  text-decoration: none;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,

body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
} */

h1 {
  font-size: 2rem;
  color: #88c0d0;
}
ul li {
  margin-left: 30px;
  list-style: none;
}
.questions-container {
  overflow-y: hidden;
  overflow-x: hidden;
}
.question-card {
  border-radius: 2px;
  overflow: hidden;
  color: #88c0d0;
  padding: 20px;
  background-color: #4c566a;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.question-card > * {
  color: #d8dee9;
  margin: 10px;
  /* list-style: upper-latin; */
}

.question-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.question-card > h1 {
  color: #81a1c1;
}

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3b4252;
  display: flex;
  /* padding: 15px; */
  height: 80px;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#navBar > * > * {
  font-size: 1.5em;
}

.navLink {
  text-decoration: none;
  padding: 10px;
  height: auto;
}
.navLink:hover {
  filter: brightness(110%);
}

.navRight {
  align-items: center;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.navLeft {
  align-items: center;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

#search-btn {
  /* border-radius: 2px; */
  background-color: #88c0d0;
  color: #eceff4;
  height: 1rem;
  width: 4rem;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#searchForm {
  padding: 5px;
  /* border-radius: 2px; */
  width: 15em;
  height: 1rem;
  color: #eceff4;
  background-color: #4c566a;
}
#searchForm:focus {
  outline: none;
}
::placeholder {
  color: #eceff4;
  opacity: 0.5;
}

.logout-btn {
  background-color: #bf616a;
  color: #eceff4;
  width: 5em;
  text-align: center;
  cursor: pointer;
}
.login-btn {
  background-color: #d08770;
  color: #eceff4;
  display: block;
  width: 5em;
  text-align: center;
}
.register-btn {
  background-color: #88c0d0;
  color: #eceff4;
  display: block;
  width: 5em;
  text-align: center;
}
.navTitle {
  color: #eceff4;
  font-size: 1.25em;
}
.write-answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.write-answer-container > * {
  display: block;
  text-align: center;
}
.answerContents {
  margin: 1rem;
  color: #eceff4;
  background-color: #4c566a;
  display: block;
  white-space: normal;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  resize: none;
  width: 15rem;
  height: 5rem;
  border: solid #d08770 1px;
}
.answerContents:focus {
  outline: none;
  border: solid #d08770 3px;
  /* width: 30%; */
  /* background-color: #eceff4; */
}
.answer-btn {
  padding: 1rem;
  background-color: #d08770;
  color: #eceff4;
}

#login-container {
  display: flex;
  justify-content: center;
  background-color: #4c566a;
  padding: 20px;
  flex-direction: column;
  border: 1px solid #2e3440;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.15);
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #88c0d0;
  background-color: #4c566a;
  padding: 20px;
}
*/ #register-page-btn {
  display: block;
  padding: 3px;
  border-radius: 2px;
  text-transform: capitalize;
  background-color: #88c0d0;
  color: #eceff4;
  text-align: center;
  align-self: center;
}

.login-div {
  display: flex;
  justify-content: center;
  /* border-radius: 10px; */
  padding: 120px;
}
.register-div {
  display: flex;
  justify-content: center;
  /* border-radius: 10px; */
  padding: 120px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #88c0d0;
  background-color: #4c566a;
  padding: 10px;
}

.downVote,
.upVote {
  width: 1rem;
  display: block;
  margin: 5px;
  background-color: #5e81ac;
  color: #eceff4;
  cursor: pointer;
}
.answer-card {
  color: #eceff4;
  padding: 5px;
  margin-top: 10px;
  background-color: #4c566a;
  /* text-align: center; */
  width: 40%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* align-items: center; */
}
.answers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.voting {
  flex-grow: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.answer-text {
  flex-grow: 100;
  padding: 10px;
  word-wrap: normal;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
}

.answer-util-btn {
  margin: 0.1rem;
  background: none;
  color: #88c0d0;
  font-size: 0.1rem;
  cursor: pointer;
}

.voted {
  background-color: #bf616a;
}

.login-page-btn {
  padding: 5px;
  border-radius: 3px;
  text-transform: capitalize;
  background-color: #d08770;
  color: #eceff4;
  text-align: center;
  align-self: center;
}
.searchbar {
  display: flex;
}

#email_input, #password_input {
  padding: 5px;
  font-size: 14px;
}

img {
  max-width: 200px;
}
